<div class="title">
  <h1>About Me</h1>
</div>
<div class="content">
  <p>
    I am a 24 year old Web Developer, husband, and father, currently residing
    in the great Washington State. I have a beautiful wife and two wonderful
    sons named Elon and Milo.
  </p>
  <p>
    I am proficient with a number of different technologies and programming
    languages such as Java, Ruby, Python, C#, and Javascript.
  </p>
</div>
<div class="title">
  <h1>What Do I Bring To Your Team?</h1>
</div>
<div class="content">
  <p>
    I learn quickly and work efficiently. What I bring
    is a strong attitude and solid code. Whether it's writing helpful tools,
    teaching new technologies, building solid designs, or refactoring large
    and hairy codebases, I will get straight to it, and work to the best of
    my ability as quickly as possible.
  </p>
  <p>
    I believe that code is read significantly more than it is written, and
    because of that, it is highly important to write code that is readable to
    human beings. This means using descriptive variable names, abstracting
    logic into helper methods, writing concise comments where necessary, and
    following a style convention.
  </p>
  <p>
    While I have my own opinions about how I like to write code, I have a
    firm belief in sticking to the team's style convention. I believe that
    a group of programmers truly becomes a team the moment that it becomes
    impossible to tell who in the group wrote any given line of code. I strive
    to achieve this in any group I am in, because I believe it makes us all
    better programmers, while simultaneously creating and maintaining a high
    coding standard for what we are working on.
  </p>
</div>
