<div class="title">
  <h1>Contact Me</h1>
</div>
<div class="contact-links">
  <a 
    id="github-icon" 
    href="https://github.com/TaylorBeeston"
    style="--bg: url(images/github.png)"
  >
    <h1>
      Github
    </h1>
  </a>
  <a 
    id="twitter-icon" 
    href="https://twitter.com/AshleysBrother"
    style="--bg: url(images/twitter.png)"
  >
    <h1>
      Twitter
    </h1>
  </a>
  <a 
    id="facebook-icon" 
    href="https://www.facebook.com/taylor.beeston.3"
    style="--bg: url(images/facebook.png)"
  >
    <h1>
      Facebook
    </h1>
  </a>
  <a 
    id="linkedin-icon" 
    href="https://www.linkedin.com/in/taylor-beeston"
    style="--bg: url(images/linkedin.png)"
  >
    <h1>
      LinkedIn
    </h1>
  </a>
  <a 
    id="email-icon" 
    href="mailto:beeston.taylor@gmail.com"
    style="--bg: url(images/email.png)"
  >
    <h1>
      E-Mail
    </h1>
  </a>
</div>
