<div class="title">
  <h1>Portfolio</h1>
</div>
<div id="portfolio">
  <a href="https://taylorbeeston.github.io/Calculator" class="portfolio-site"
    style="--bg: url(images/calculator.png)"
  >
    <div class="site-info">
      <h1>Calculator</h1>
      <p>A simple calculator app built for The Odin Project.</p>
      <p>It is built entirely with vanilla HTML, CSS, and JavaScript!</p>
    </div>
  </a>
  <a href="https://taylorbeeston.github.io/RockPaperScissors" class="portfolio-site"
    
    style="--bg: url(images/rps.png)"
  >
    <div class="site-info">
      <h1>Rock, Paper, Scissors</h1>
      <p>Rock, Paper, Scissors is a super simple web game that I bult for The Odin Project!</p>
      <p>It is built entirely with vanilla HTML, CSS, and JavaScript!</p>
    </div>
  </a>
  <a href="https://codepen.io/taylorbeeston/pen/GRRepQx" class="portfolio-site"
    
    style="--bg: url(images/minesweeper.png)"
  >
    <div class="site-info">
      <h1>Minesweeper</h1>
      <p>
        This is the classic game Minesweeper! I used to play this a ton back on
        Windows XP, so I tried to make it look at least a little bit similar to
        that version.
      </p>
      <p>
        It is built using React on CodePen, however, I did do quite a bit of of
        work to it locally, which is why there are JSDoc Comments.
      </p>
    </div>
  </a>
  <a href="https://booksmarts.herokuapp.com" class="portfolio-site"
    style="--bg: url(images/booksmarts.png)"
  >
    <div class="site-info">
      <h1>Booksmarts</h1>
      <p>Booksmarts is a web app that I created to help me keep track of books.</p>
      <p>
        It is built with Rails 6, uses the new Action Text as one of its main
        attractions, and manages to keep itself update via the Holy Trinity of
        Travis CI, Dependabot, and Mergiy.
      </p>
    </div>
  </a>
  <a href="https://taylorbeeston.github.io/EtchASketch" class="portfolio-site"
    style="--bg: url(images/etchasketch.png)"
  >
    <div class="site-info">
      <h1>Etch A Sketch</h1>
      <p>A dead simple "Etch A Sketch" that I built for The Odin Project!</p>
      <p>It is built entirely with vanilla HTML, CSS, and JavaScript!</p>
    </div>
  </a>
  <a href="http://ashleysbrother.com" class="portfolio-site"
    style="--bg: url(images/ashleysbrother.jpg)"
  >
    <div class="site-info">
      <h1>Ashley's Brother (Music Site)</h1>
      <p>
        Before I was a Developer, I was a Music Producer, and ashleysbrother.com
        is where I host all of my music!
      </p>
      <p>
        It is built on Rails 5.2.1 and uses CarrierWave to keep all my music
        stored in an S3 Bucket. It also cleverly uses Turbolinks to keep music
        playing throughout navigation of the site.
      </p>
    </div>
  </a>
  <a href="https://taylorbeeston.github.io/Library" class="portfolio-site"
    style="--bg: url(images/library.png)"
  >
    <div class="site-info">
      <h1>Library</h1>
      <p>A simple Library app built for The Odin Project</p>
      <p>
        It is built entirely with vanilla HTML, CSS, and JavaScript, and uses
        localStorage to keep track of your personal library.
      </p>
    </div>
  </a>
  <a href="https://godstoolbox.herokuapp.com" class="portfolio-site"
    style="--bg: url(images/godstoolbox.png)"
  >
    <div class="site-info">
      <h1>God's Toolbox</h1>
      <p>
        God's Toolbox is a fake E-Commerce website for a fake Non-Profit
      </p>
      <p>
        It is built on a LAMP Stack, and is 100% vanilla PHP. I made this site
        as a school project, but I feel that it's complex enough to demonstrate
        some of my coding practices. For what it's worth, I got 100% on the
        project.
      </p>
    </div>
  </a>
</div>
