<nav role="navigation" id="links">
  <a href="index.html" page="Home">Home</a>
  <a href="about.html" page="About">About</a>
  <a id="resume">Resume</a>
  <a href="portfolio.html" page="Portfolio">Portfolio</a>
  <a href="contact.html" page="Contact">Contact</a>
</nav>
